/**
 * CSS for the Project 1 main page.
 *
 * Since CSS uses a global name space for classes we should use class names
 * starting with "main-" here.
 */

.main-topbar-buffer {
  margin-top: 70px;
}

.main-grid-item{
  /*height: calc(100vh - 64px);*/
  min-height: calc(100vh - 64px);
  padding: 10px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.home-text {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.home-button {
  margin-top: 10px;
}
